html,
body {
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */

:root {
    --primary-color: #1b262c;
    --secondary-color: #0f4c75;
    --tertiary-color: #00b7c2;
    --quarternary-color: #fdcb9e;
    --rubik: 'Rubik', cursive;
}